<a ng-if="runtime.name=='vertx'" href="http://www.reactivemanifesto.org/"> <img style="border: 0; position: fixed; right: 0; top:0; z-index: 9000" src="//d379ifj7s9wntv.cloudfront.net/reactivemanifesto/images/ribbons/we-are-reactive-blue-right.png"> </a>
<div class="container container-cards-pf">
	<div class="row">
		<div	ng-repeat="item in products" class="col-md-4 item" pf-card show-top-border="true"
				head-title="{{item.product.name}}"
				sub-title="{{item.product.desc}}">
			<div class="row">
			  <div class="col-xs-12">
				<img class="img-responsive img-circle" ng-src="/app/imgs/{{item.product.name}}.jpg"></img>
			  </div>
			</div>

			 <!--content row-->
			<div class="row">

				<!-- price and cart add/remove -->
				<div class="col-xs-6">

					<h1>{{item.product.price | currency}}</h1>

					<form class="form-inline">
						<div class="form-group">
							<select name="quan" ng-model="item.quantity" class="form-control" id="quan">
								<option value="1" selected>1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>

						</div>
						<button ng-click="addToCart(item)" type="submit" class="btn btn-default">Add To Cart</button>
					</form>


				</div>
				<!--  inventory -->
				<div style="position: absolute; bottom: 45px; right: 25px;">
					<div ng-if="item.product.availability.quantity > 0"><label title="{{item.product.availability.quantity}}" class="label label-{{item.product.availability.quantity < 15 ? 'warning' : 'primary'}}">{{item.product.availability.quantity}} left!</label></div>
					<div ng-if="item.product.availability.quantity <= 0"><span class="fa fa-warning fa-lg"></span>&nbsp;Inventory unavailable</div>
				</div>


			</div>
		</div>
	</div>
</div>



<script type="text/javascript">
		$('div.container > div.row').imagesLoaded(function() {
			setTimeout(function() {
			console.log("loading masonry");
			$('div.container > div.row').isotope({
				itemSelector: '.item',
				columnWidth: '.item',
				layoutMode: 'masonry'
			});
			}, 1000);
		});
</script>
